package ${package}.mapper;

import org.apache.ibatis.annotations.Mapper;
import org.crown.framework.mapper.BaseMapper;
import ${package}.domain.${className};

/**
 * ${tableComment} 数据层
 *
 * @author ${author}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}> {

}