package ${package}.mapper;

import ${package}.domain.${className};
import java.util.List;	

/**
 * ${tableComment} 数据层
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper 
{

}