package ${package}.service;

import org.crown.framework.service.impl.BaseServiceImpl;
import ${package}.domain.${className};
import ${package}.mapper.${className}Mapper;
import org.springframework.stereotype.Service;

/**
 * ${tableComment} 服务层实现
 *
 * @author ${author}
 */
@Service
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Mapper, ${className}> implements I${className}Service {

}
