package ${package}.service;

import org.crown.framework.service.BaseService;
import ${package}.domain.${className};

/**
 * ${tableComment} 服务层
 *
 * @author ${author}
 */
public interface I${className}Service extends BaseService<${className}> {

}
